<!DOCTYPE html>
<html>
<head>
  <title>Ardent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oxygen">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700">
  <link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.plyr.io/2.0.11/plyr.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/media.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/ardentstyle.css">
  <link rel="icon" type="image/x-icon" href="/images/icon/favicon.ico" />
</head>
<body>

<!-- START MENU -->
    <div class="menu">
      <div class="logo"><a href="/"><img src="/images/logo/logo.svg"></a></div>
        <ul>
          <li><a href="/#about">About</a></li>
          <li><a href="/portfolios">Our Work</a></li>
          <li><a href="/journals">Journal</a></li>
          <li><a href="/#contact">Contact</a></li>
          <!--<li class="submenu-trigger">-->
          <!--  <a href="other.html">Other</a>-->
          <!--  <div id="sub-li-courses" class="sub-li">-->
          <!--    <ul>-->
          <!--      <li><a href="#">Link 1</a></li>-->
          <!--      <li><a href="#">Link 2</a></li>-->
          <!--    </ul>-->
          <!--  </div>-->
          <!--</li>-->
          <% if(!currentUser){ %>
            <% } else { %>
          <li><a href="/dashboard/journal">Dashboard</a></li>
          <li><a href="#">Signed In As <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
      <div class="menu-mobile-trigger">
        <div class="menui top-menu"></div>
        <div class="menui mid-menu"></div>
        <div class="menui bottom-menu"></div>
      </div>
      <div class="menu-mobile-modal">
        <div class="close-modal" id="modal-video"></div>
        <div class="menu-mobile-modal-inner">
          <ul>
            <li><a href="index.html/#jumptoabout">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="journal.html">Journal</a></li>
            <li><a href="#jumptocontact">Contact</a></li>
            <li><a href="other.html">Other</a></li>
          </ul>
        </div>
      </div>
<!-- END MENU -->
