<% include ../partials/header %>
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
    th, td {
    padding: 15px;
}
</style>
<div class="page-content" style="padding:150px">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Dashboard Journal</p>
            <div class="list-group">
                <a href="/dashboard/journal"><li class="list-group-item active">Journal</li></a>
                <a href="/dashboard/portfolio"><li class="list-group-item">Portfolio</li></a>
                <a href="/dashboard/landing"><li class="list-group-item">Landing</li></a>
            </div>
        </div>
        <div class="col-md-9">
                <a class="btn btn-warning" href="/journals/new">Add Journal</a>
                <table>
                <div class="caption-full">
                    <thead>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                    <% journals.forEach(function(journal){%>
                    <tr>
                    <td><%=journal.title%></td>
                    <td><%=moment(journal.date).format('L')%></td>
                    <td><a class="btn btn-warning" href="/journals/<%=journal._id%>/edit">Edit</a></td>
                    <td>
                        <form id="delete-form" action="/journals/<%=journal._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    </td>
                    </tr>
                    <% } )%>
                    </tbody>
                    </div>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- END PAGE CONTENT -->

<% include ../partials/footer %>
