<% include ../partials/header %>
<div class="page-content">
<div class="container">
    <div class="row">
        <h2 style="text-align: center; margin-top:200px;">Create a New Journal</h2>
        <div style="width: 60%; margin: 50px auto ;">
            <form action="/journals" method="POST">
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <input class="form-control" type="text" name="title" placeholder="title">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <input class="form-control" type="text" name="quote" placeholder="quote">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <input class="form-control" type="text" name="image" placeholder="image">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <input class="form-control" type="text" name="image2" placeholder="image2">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <input class="form-control" type="date" name="date" placeholder="date">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <input class="form-control" type="text" name="desc" placeholder="desc">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <input class="form-control" type="text" name="desc2" placeholder="desc2">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/journals">Go Back</a>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>

