<% include partials/header %>

<div class="page-content">
        <!--<div class="home-bg"></div>-->
        <section class="hero-slide">
          <h1 data-parallax="0.3">
            <span class="span-outer"><span class="span-inner">a warm hello</span></span>
            <span class="span-outer"><span class="span-inner">from ardent</span></span>
          </h1>
          <h1 class="mobile-title">a warm hello from ardent</h1>
        </section>

        <div id="about">
        <section class="home1">
          <p data-parallax="0.2">Based in Indonesia since 2015, Ardent is a PR agency specializing in brand activations. We assist brands in crafting the best concepts and events to meet their objectives.
            Starting from thorough consultancy, we provide ideas, develop strategies and curate every detail through our network and partners.</p>
        </section>
        </div>


        <div class="home2-content-ext">
          <div class="bg" data-parallax="0.4"></div>
          <div id="mission">
          <section class="home2">
            <div class="slider">
              <div class="slider-inner">
                <div class="image">
                  <img class="inner-image" src="http://res.cloudinary.com/ardent/image/upload/v1510285970/MATERI%20WEBSITE/LANDINGPAGE/Landing2.jpg">
                </div>
              </div>
              <div class="desc-slider">
                <h2 data-parallax="0.2">Our Mission About Our Business</h2>
                <!--<p class="subt" data-parallax="0.15"><span class="red">About Our Business</span></p>-->
                <p class="description" data-parallax="0.1">To provide exceptional event branding, management, and consultancy by support local talents, share experience, and grow together while expand our services and reach beyond Medan.</b></p>
                <!--<a href="#jumptovision" data-parallax="0.05">VISION</a>-->
              </div>
            </div>
          </section>
        </div>
        </div>


         <div class="home2b-content-ext">
          <div class="bg" data-parallax="0.2"></div>
          <div id="vision">
          <section class="home2 home2b">
            <div class="slider">
              <div class="desc-slider">
                <h2 data-parallax="0.2">Ardent's<br> Vision</h2>
                <p class="description" data-parallax="0.1">Ardent’s vision is nothing less than being a national benchmark of creative conceptual events.</p>
                <!-- <a href="#jumptomission" data-parallax="0.05">MISSION</a> -->
              </div>
              <div class="slider-inner">
                <div class="image">
                  <img class="inner-image" src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/19030485_1702452813102650_1044803890112725271_n.jpg?oh=95e184bc0f6f180cc71cbc0e933947f9&oe=5A0681FB">
                </div>
              </div>
            </div>
          </section>
        </div>
        </div>

        <div class="home3-content-ext">
          <div id="service">
          <section class="home3">
            <div class="selector-slider" data-parallax="0.1">
              <a class="selector-slider-single" id="slider-group-1">OUR SERVICES</a>
              <a class="selector-slider-single active" id="slider-group-2">FEATURED EVENT</a>
            </div>
            <div class="slider-ext">
              <div class="slider-group slider-group-2 active">
                <div class="slider-inner-selectors">
                  <a href="/portfolios" id="image-2a" class="selector-single active" data-parallax="0.2">Casa de Brides<span><img src="images/arrow-next.png"></span></a>
                  <br>
                  <a href="/portfolios" id="image-2b" class="selector-single" data-parallax="0.15">Truffle Series<span><img src="images/arrow-next.png"></span></a>
                  <br>
                  <a href="/portfolios" id="image-2c" class="selector-single" data-parallax="0.1">Ardentic 2.0<span><img src="images/arrow-next.png"></span></a>
                </div>
                <div class="slider">
                  <div class="slider-inner">
                    <div class="image">
                      <div class="image-single image-2a active">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-2b">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-2c">
                        <div class="image-single-inner"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="date-group" data-parallax="0.1">
                  <div class="when">DATE:</div>
                  <div class="dates">
                    <div class="single-date image-2a active">1 - 4 June 2017</div>
                    <div class="single-date image-2b">7 May 2017</div>
                    <div class="single-date image-2c">20 - 23 October 2016</div>
                  </div>
                </div>
              </div>
              <div class="slider-group slider-group-1">
                <div class="slider-inner-selectors">
                  <a href="#service" id="image-1b" class="selector-single active" data-parallax="0.2">PR Strategy & Brand Activation</a>
                  <br>
                  <a href="#service" id="image-1a" class="selector-single" data-parallax="0.12">Creative Merchandising</a>
                  <br>
                  <a href="#service" id="image-1c" class="selector-single" data-parallax="0.15">Event</a>
                  <br>
                  <a href="#service" id="image-1d" class="selector-single" data-parallax="0.1">Production </a>
                </div>
                <div class="slider">
                  <div class="slider-inner">
                    <div class="image">
                      <div class="image-single image-1b active">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-1c">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-1a">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-1d">
                        <div class="image-single-inner"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="date-group" data-parallax="0.1">-->
                <!--  <div class="when">DATE:</div>-->
                <!--  <div class="dates">-->
                <!--    <div class="single-date image-1b active">6-7 MAG/2017</div>-->
                <!--    <div class="single-date image-1c">21-22 GEN/2017</div>-->
                <!--    <div class="single-date image-1a">12-19 NOV/2016</div>-->
                <!--    <div class="single-date image-1d">12-19 NOV/2016</div>-->
                <!--  </div>-->
                <!--</div>-->
              </div>
              <a class="calendar slider-group-2 no-barba active" href="/pdf/ardent.pdf" data-parallax="0.1" target="_blank">OUR PORTFOLIO</a>
            </div>
          </section>
          <section class="home3-mob">
            <div class="group-courses-mob">
              <h2>Featured Event</h2><br>
              <!--<a href="corsi_orsolina.pdf" class="no-barba red" target="_blank"><i><b>Scarica Calendario Corsi</b></i></a><br><br>-->
              <!-- <a href="classico.html"> -->
                <div class="single-course-mob">
                  <img src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t31.0-8/23004810_1858242197523710_6756215468582830598_o.jpg?oh=8cb9a084206a94f1bd2836ce3ccff69d&oe=5A7020E3">
                  <h3>Casa de Brides</h3>
                  <p>1 - 4 June 2017</p>
                </div>
              <!-- </a> -->
              <!-- <a href="contemporaneo.html"> -->
                <div class="single-course-mob">
                  <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/19023606_1702468183101113_355032792162237991_o.jpg?oh=c1385c8d6870919a0e4a8b9903f8b91a&oe=5A343548">
                  <h3>Truffle Series 3</h3>
                  <p>7 May 2017</p>
                </div>
              <!-- </a> -->
              <!-- <a href="extra-corsi.html"> -->
                <div class="single-course-mob">
                  <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/19095707_1702429466438318_673849924168583373_o.jpg?oh=3b489ddb54b547023579f6b60c1c3fe4&oe=5A31E1DB">
                  <h3>Ardentic 2.0</h3>
                  <p>20 - 23 October 2016</p>
                </div>
              <!-- </a> -->
            </div>
            <div class="group-courses-mob">
              <h2>Our Services</h2>
              <!-- <a href="masterclass2.html"> -->
                <div class="single-course-mob">
                  <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/19025122_1702452979769300_1965353764670166174_o.jpg?oh=8a17f20c451b0c18cda6e0eae33180b5&oe=59F422E7">
                  <h3>Event Branding</h3>
                  <!--<p>6-7 Maggio 2017</p>-->
                </div>
              <!-- </a> -->
              <!-- <a href="masterclass3.html"> -->
                <div class="single-course-mob">
                  <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/19025122_1702452979769300_1965353764670166174_o.jpg?oh=8a17f20c451b0c18cda6e0eae33180b5&oe=59F422E7">
                  <h3>Creative Merchandising</h3>
                  <!--<p>21-22 Gennaio 2017</p>-->
                </div>
              <!-- </a> -->
              <!-- <a href="masterclass1.html"> -->
                <div class="single-course-mob">
                  <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/19092858_1702467076434557_8563948505841209167_o.jpg?oh=c04236b0d2bea69dfca4a95045047d4a&oe=5A33F74D">
                  <h3>Conceptual Styling</h3>
                  <!--<p>12-19 Novembre 2016</p>-->
                </div>
              <!-- </a> -->
              <!-- <a href="masterclass1.html"> -->
                <div class="single-course-mob">
                  <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/19023628_1702500383097893_172647790960520918_o.jpg?oh=db14fdb69855c1e6a42d5d12d78a879e&oe=59FD60CE">
                  <h3>Set Production</h3>
                  <!--<p>12-19 Novembre 2016</p>-->
                </div>
              <!-- </a> -->
            </div>
          </section>
          </div>
        </div>

        <section class="home4">
          <div id="contact">
            <div class="col-50 single-col-1">
              <div class="headrotate" data-parallax="0.35">OUR VALUES</div>
              <div class="col-50-inner">
                <img class="inner-image" src="http://res.cloudinary.com/ardent/image/upload/v1510294395/MATERI%20WEBSITE/LANDINGPAGE/LandingContact2.jpg" data-parallax="0.25">
                <div class="text">
                  <h2 data-parallax="0.25">Our Values</h2>
                  <p data-parallax="0.2">Promote integrity and accountability; <br> Foster long-term relationships with our partners and clients; <br> Encourage collaborations and innovations. <br><br> <span class="red">Besides our main service,</span><br> we do give back and show our supports to local communities. Just like what one of our missions is, we believe in the importance of collaboration and growing together!</p>
                  <a href="/journals" data-parallax="0.15">#ARDENTCOLLABS</a><br>
                </div>
              </div>
            </div>
            <div class="col-50 single-col-2">
              <div class="headrotate" data-parallax="0.35">CONTACT</div>
              <div class="col-50-inner">
                <img class="inner-image" src="http://res.cloudinary.com/ardent/image/upload/v1510293481/LandingContact1.jpg" data-parallax="0.25">
                <div class="text">
                  <h2 data-parallax="0.25">Talk to you soon</h2>
                  <p class="first-p" data-parallax="0.2"><span class="red">ARDENT STUDIO</span><br>Jalan S.Parman Gg.Harapan No 9F, Petisah Hulu, Medan Baru, Kota Medan, Sumatera Utara 20151</p>
                  <p data-parallax="0.15"><span class="red">OPEN HOUR</span><br>10.00 - 17.00</p>
                  <p data-parallax="0.1"><span class="red">CALL US AT</span><br>E. <a href="mailto:axel@theabrand.co?Subject=Hi+Ardent!">tellardent@ardent-family.com </a><br>TEL. +6261 4141391<br>WA.  +62812 6295 4910</p>
                </div>
              </div>
            </div>
            <div class="bg"></div>
            </div>
        </section>


        <section class="home5">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h2>Subscribe to our newsletter</h2>
            <div id="mc_embed_signup_scroll">
              <div class="input-line">
                <div class="col-input">
                  <input class="input-field" type="text" value="" name="name" class="text" id="name" required>
                  <label><span class="label-content">Name</span></label>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff28d4e5b33a32842eedadc1e_19675e631b" tabindex="-1" value=""></div>
                </div>
                <div class="col-input">
                  <input class="input-field" type="email" value="" name="email" class="email" id="email" required>
                  <label><span class="label-content">Email Address</span></label>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff28d4e5b33a32842eedadc1e_19675e631b" tabindex="-1" value=""></div>
                </div>
                <div class="col-input">
                  <input class="input-field" type="number" value="" name="phone" class="text" id="phone" required>
                  <label><span class="label-content">Phone</span></label>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff28d4e5b33a32842eedadc1e_19675e631b" tabindex="-1" value=""></div>
                </div>
                <div class="col-button">
                  <div class="clear">
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
                  </div>
                </div>
                <div class="privacy">*i accept privacy</a></div>
              </div>
            </div>
          </form>
          </div>
          <!--End mc_embed_signup-->
        </section>


<!-- VIDEO -->
        <div class="modal-video">
          <div class="close-video" id="modal-video"></div>
          <div class="video-inner">
            <video id="videoVimeo" poster="images/video-home.jpg" controls webkit-playsinline>
              <source id="mp4" src="https://youtu.be/72UO0v5ESUo" type="video/mp4">
            </video>
          </div>
        </div>
<!-- VIDEO -->


</div>
<!-- END PAGE CONTENT -->

<% include partials/footer %>
