<% include partials/header %>

<div class="page-content">
        <!--<div class="home-bg"></div>-->
        <section class="hero-slide">
          <h1 data-parallax="0.3">
            <span class="span-outer"><span class="span-inner">welcome to</span></span>
            <span class="span-outer"><span class="span-inner">ardent family</span></span>
          </h1>
          <h1 class="mobile-title">welcome to ardent family</h1>
        </section>

        <div id="jumptoabout">
        <section class="home1">
          <p data-parallax="0.2">Based in Indonesia since 2015, Ardent is a PR agency that specialises in events. We help brands in crafting the best events to meet their objectives. Starting from thorough consultancy with the brands ,we provide ideas, develop strategies and curate every detail for the event through our network and partners.</p>
        </section>
        </div>

        <div class="home2-content-ext">
          <div class="bg" data-parallax="0.4"></div>
          <section class="home2">
            <div class="slider">
              <div class="slider-inner">
                <div class="image">
                  <img class="inner-image" src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t31.0-8/15995280_1539460546068545_6867311464232007766_o.jpg?oh=9dcce253ba27d719dc9188264c40ff88&oe=59F9F089">
                </div>
              </div>
              <div class="desc-slider">
                <h2 data-parallax="0.2">Our Vivid Vision About Our Business</h2>
                <p class="subt" data-parallax="0.15">About Our Business</p>
                <p class="description" data-parallax="0.1">Una specialissima <b>Étoile dell’Opéra di Parigi</b>, MAG, è la direttrice artistica di Orsolina28. “Ho scelto di accettare la direzione artistica di Orsolina28 perché credo che in un contesto così vicino alla natura la Danza possa raggiungere livelli molto alti. <b>La danza per me è libertà e Orsolina28 è un luogo libero con pace, poesia, aria buona e cibi sani”.</b></p>
                <a href="mag.html" data-parallax="0.05">APPROFONDISCI</a>
              </div>
            </div>
          </section>
        </div>
        
         <div class="home2b-content-ext">
          <div class="bg" data-parallax="0.2"></div>
          <section class="home2 home2b">
            <div class="slider">
              <div class="desc-slider">
                <h2 data-parallax="0.2">Our True Mission <br>On Ardent</h2>
                <p class="description2" data-parallax="0.1">Orsolina28 presenta un’<b>estate ricca di emozioni</b>: luglio in co-direzione artistica con <b>Moncalvo in Danza</b>, tre settimane con <b>docenti di fama internazionale</b> e poi ancora <b>workshop imperdibili</b> ad agosto e settembre.
                <a href="summer.html" data-parallax="0.05">APPROFONDISCI</a>
              </div>
              <div class="slider-inner">
                <div class="image" style="text-align:right">
                  <img class="inner-image" src="http://www.orsolina28.it/images/summer-home.jpg">
                  ARDENT
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="home3-content-ext">
          <section class="home3">
            <div class="selector-slider" data-parallax="0.1">
              <a class="selector-slider-single active" id="slider-group-2">PREVIOUS EVENT</a>
              <a class="selector-slider-single" id="slider-group-1">CURRENT EVENT</a>
            </div>
            <div class="slider-ext">
              <div class="slider-group slider-group-2 active">
                <div class="slider-inner-selectors">
                  <a href="classico.html" id="image-2a" class="selector-single active" data-parallax="0.2">Life Style and <span><img src="images/arrow-next.png"></span></a>
                  <a href="contemporaneo.html" id="image-2b" class="selector-single" data-parallax="0.15">Looking Good<span><img src="images/arrow-next.png"></span></a>
                  <a href="extra-corsi.html" id="image-2c" class="selector-single" data-parallax="0.1">Corsi Extra <span><img src="images/arrow-next.png"></span></a>
                </div>
                <div class="slider">
                  <div class="slider-inner">
                    <div class="image">
                      <div class="image-single image-2a active">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-2b">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-2c">
                        <div class="image-single-inner"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="date-group" data-parallax="0.1">
                  <div class="when">DATE:</div>
                  <div class="dates">
                    <div class="single-date image-2a active">Anno didattico 2016/2017</div>
                    <div class="single-date image-2b">Anno didattico 2016/2017</div>
                    <div class="single-date image-2c">Anno didattico 2016/2017</div>
                  </div>
                </div>
              </div>
              <div class="slider-group slider-group-1">
                <div class="slider-inner-selectors">
                  <a href="masterclass2.html" id="image-1b" class="selector-single active" data-parallax="0.2">Marie-Agnès Gillot <span><img src="images/portfolio/lovebonito/lovebonito.jpg"></span></a>
                  <a href="masterclass3.html" id="image-1c" class="selector-single" data-parallax="0.15">Myrna Kamara <span><img src="images/portfolio/lovebonito/lovebonito.jpg"></span></a>
                  <a href="masterclass1.html" id="image-1a" class="selector-single" data-parallax="0.1">Lorenzo Pagano <span><img src="images/portfolio/lovebonito/lovebonito.jpg"></span></a>
                </div>
                <div class="slider">
                  <div class="slider-inner">
                    <div class="image">
                      <div class="image-single image-1b active">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-1c">
                        <div class="image-single-inner"></div>
                      </div>
                      <div class="image-single image-1a">
                        <div class="image-single-inner"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="date-group" data-parallax="0.1">
                  <div class="when">DATE:</div>
                  <div class="dates">
                    <div class="single-date image-1b active">6-7 MAG/2017</div>
                    <div class="single-date image-1c">21-22 GEN/2017</div>
                    <div class="single-date image-1a">12-19 NOV/2016</div>
                  </div>
                </div>
              </div>
              <a class="calendar slider-group-2 no-barba active" href="/pdf/ardent.pdf" data-parallax="0.1" target="_blank">OUR PORTFOLIO</a>
            </div>
          </section>
          <section class="home3-mob">
            <div class="group-courses-mob">
              <h2>Current Event</h2><br>
              <a href="corsi_orsolina.pdf" class="no-barba red" target="_blank"><i><b>Scarica Calendario Corsi</b></i></a><br><br>
              <a href="classico.html">
                <div class="single-course-mob">
                  <img src="/images/portfolio/lovebonito/lovebonito.jpg">
                  <h3>Balletto Classico</h3>
                  <p>Anno Accademico 2016/2017</p>
                </div>
              </a>
              <a href="contemporaneo.html">
                <div class="single-course-mob">
                  <img src="/images/slider-home/home-1.jpg">
                  <h3>Contemporaneo</h3>
                  <p>Anno Accademico 2016/2017</p>
                </div>
              </a>
              <a href="extra-corsi.html">
                <div class="single-course-mob">
                  <img src="/images/slider-home/home-1.jpg">
                  <h3>Corsi Extra</h3>
                  <p>Anno Accademico 2016/2017</p>
                </div>
              </a>
            </div>
            <div class="group-courses-mob">
              <h2>Previous Event</h2>
              <a href="masterclass2.html">
                <div class="single-course-mob">
                  <img src="/images/slider-home/home-1.jpg">
                  <h3>Marie-Agnès Gillot</h3>
                  <p>6-7 Maggio 2017</p>
                </div>
              </a>
              <a href="masterclass3.html">
                <div class="single-course-mob">
                  <img src="/images/slider-home/home-1.jpg">
                  <h3>Myrna Kamara</h3>
                  <p>21-22 Gennaio 2017</p>
                </div>
              </a>
              <a href="masterclass1.html">
                <div class="single-course-mob">
                  <img src="/images/slider-home/home-1.jpg">
                  <h3>Lorenzo Pagano</h3>
                  <p>12-19 Novembre 2016</p>
                </div>
              </a>
            </div>
          </section>
        </div>

        <section class="home4">
          <div id="jumptocontact">
            <div class="col-50 single-col-1">
              <div class="headrotate" data-parallax="0.35">PREVIOUS EVENT</div>
              <div class="col-50-inner">
                <img class="inner-image" src="images/slider-home/home-1.jpg" data-parallax="0.25">
                <div class="text">
                  <h2 data-parallax="0.25">Les Italiens<br>de l’Opéra de Paris</h2>
                  <p data-parallax="0.2">Nel tempio del Ballet de l’Opéra di Parigi che discende dall’Académie Royale de Danse fondata nel 1661 dal Re Sole, c’è una Little Italy agguerrita e di talento. <b>Les Italiens de l’Opéra de Paris</b>vi da <b>appuntamento a Domenica 2 luglio alle ore 21.30 al Teatro Civico di Moncalvo</b>.</p>
                  <a href="journal.html" data-parallax="0.15">ALTRI ARTICOLI</a><br>
                </div>
              </div>
            </div>
            <div class="col-50 single-col-2">
              <div class="headrotate" data-parallax="0.35">CONTACT</div>
              <div class="col-50-inner">
                <img class="inner-image" src="images/slider-home/home-1.jpg" data-parallax="0.25">
                <div class="text">
                  <h2 data-parallax="0.25">Lets Have a Fun Event</h2>
                  <p class="first-p" data-parallax="0.2"><span class="red">ORSOLINA 28</span><br>Strada Caminata, 28 - 14036 Moncalvo (AT)</p>
                  <p data-parallax="0.15"><span class="red">ORARI</span><br>Lunedì: 15.00 – 19.00</p>
                  <p data-parallax="0.1">Da Martedì a Sabato:<br>10.00 – 13.00 / 15.00 – 19.00</p>
                </div>
              </div>
            </div>
            <div class="bg"></div>
            </div>
        </section>


        <section class="home5">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="//ardent-family.us15.list-manage.com/subscribe/post?u=faf5e184cd26d5a9bdbb4c40c&amp;id=e957d80697" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h2>Subscribe to our newsletter</h2>
            <div id="mc_embed_signup_scroll">
              <div class="input-line">
                <div class="col-input">
                  <input class="input-field" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                  <label><span class="label-content">Indirizzo Email</span></label>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff28d4e5b33a32842eedadc1e_19675e631b" tabindex="-1" value=""></div>
                </div>
                <div class="col-button">
                  <div class="clear">
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
                  </div>
                </div>
                <div class="privacy">*accetto la <a href="https://www.iubenda.com/privacy-policy/7849124" target="_blank">privacy</a></div>
              </div>
            </div>
          </form>
          </div>
          <!--End mc_embed_signup-->
        </section>


<!-- VIDEO -->
        <div class="modal-video">
          <div class="close-video" id="modal-video"></div>
          <div class="video-inner">
            <video id="videoVimeo" poster="images/video-home.jpg" controls webkit-playsinline>
              <source id="mp4" src="https://youtu.be/72UO0v5ESUo" type="video/mp4">
            </video>
          </div>
        </div>
<!-- VIDEO -->


</div>
<!-- END PAGE CONTENT -->

<% include partials/footer %>
