<% include partials/header %>
<div class="page-content bottom-padding">
  <div class="container">
    <section class="title-services">
      <h2>Our Services</h2>
    </section>
    <section class="services">
      <div class="service">
        <div class="col-lg-3">
          <span class="title-service">PR Strategy & Brand Activation</span>
        </div>
        <div class="col-lg-9">
          Ardent has successfully delivered innovative strategies for many brands who need revitalisation or PR solutions to their current setbacks. Beginning from thorough consultancy with the client, Ardent develops ideas and serves as a PR specialist who provides assistance across all mediums from the very start until the completion of the strategies. Based on our clients’ needs, our team curates every detail from concept, strategies, campaigns, and designs to executions. With the understanding of the brands’ identity and philosophy, our team aims not only to raise brand awareness but also to help the brands gain benefits through our vast network of vendors, medias and social influencers.
        </div>
      </div>
      <br>
      <div class="service">
        <div class="col-lg-3">
          <span class="title-service">Creative Merchandising</span>
        </div>
        <div class="col-lg-9">
          Since 2015, Ardent has been trusted to assist many brands in hosting their events, be it retail or pop-up stores' grand opening, private collection launch, private gathering and many more. All this time, Ardent is renowned for the fresh concepts and well-executed events. Ardent also plays a role as a liaison who links our client to sponsors, vendors, medias, and other possible collaborators. For each event, the guest list is carefully tailored from our key database. Only the most suitable and highly impactful target market is chosen to meet the clients’ goals – be it social awareness, sales or coverage. Not only event planning, conceptualization and execution, Ardent's service also covers event campaign production and documentation.
        </div>
      </div>
      <br>
      <div class="service">
        <div class="col-lg-3">
          <span class="title-service">Event</span>
        </div>
        <div class="col-lg-9">
          Known for the exquisite taste, Ardent creates product merchandising and window displays for our clients’ retail stores, mainly focusing on customer experience and increasing opportunity of sales. Ardent believes visual merchandising can effectively trigger customers to make purchases. That is why one of our services is to provide suggestions on products that will most likely be a hot sale among the target market of the brands. Many brands have put their full trust in Ardent to handle their visual merchandising of their pop-up stores.
        </div>
      </div>
      <br>
      <div class="service">
        <div class="col-lg-3">
          <span class="title-service">Production</span>
        </div>
        <div class="col-lg-9" style="border:none">
          With more than three decades of experience, Ardent’s production partner offers promising service for various purposes, i.e. retail stores, indoor and outdoor ads, exhibitions, or any other celebrations. Our partner has constructed satisfying stores and transformed many types of space to remarkable event venues for many of our clients. Not only does our partner construct the overall space, they also curate or self-produced every detail needed to fill the space.
        </div>
      </div>
    </section>
  </div>


</div>
<% include partials/footer %>
