<% include ../partials/header %>
<div class="page-content">
<div class="container">
    <div class="row">
        <h2 style="text-align: center; margin-top:200px;">Create a New Portfolio</h2>
        <div style="width: 60%; margin: 50px auto ;">
            <form action="/portfolios" method="POST">
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    name
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image1
                    <input class="form-control" type="text" name="image1" placeholder="image1">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image url
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image2
                    <input class="form-control" type="text" name="image2" placeholder="image2">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    number of service
                    <input class="form-control" type="number" name="numberofservice" placeholder="number of service">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image3
                    <input class="form-control" type="text" name="image3" placeholder="image3">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service1
                    <input class="form-control" type="text" name="service1" placeholder="service1">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image4
                    <input class="form-control" type="text" name="image4" placeholder="image4">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service2
                    <input class="form-control" type="text" name="service2" placeholder="service2">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image5
                    <input class="form-control" type="text" name="image5" placeholder="image5">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service3
                    <input class="form-control" type="text" name="service3" placeholder="service3">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image6
                    <input class="form-control" type="text" name="image6" placeholder="image6">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    service4
                    <input class="form-control" type="text" name="service4" placeholder="service4">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image7
                    <input class="form-control" type="text" name="image7" placeholder="image7">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    video
                    <input class="form-control" type="text" name="video" placeholder="video">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image8
                    <input class="form-control" type="text" name="image8" placeholder="image8">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    date
                    <input class="form-control" type="date" name="date" placeholder="date">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image9
                    <input class="form-control" type="text" name="image9" placeholder="image9">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    host
                    <input class="form-control" type="text" name="host" placeholder="host">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    image10
                    <input class="form-control" type="text" name="image10" placeholder="image10">
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    desc
                    <textarea rows="4" cols="30" name="desc" placeholder="desc"></textarea>
                </div>
                <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/portfolios">Go Back</a>
        </div>


    </div>
</div>
</div>
<% include ../partials/footer %>
